<% if page.current? -%>
  <li class="page-item active" aria-current="page">
    <span class="page-link"><%= page.number %></span>
  </li>
<% else -%>
  <li class="page-item">
    <%= link_to page.number, url, remote: remote, rel: page.rel, class: "page-link" %>
  </li>
<% end -%>
