<body>
<%= render "shared/header" %>
<h3>レビュー編集</h3>
<%= render partial: 'shared/error', locals: {model: @review}%>
<p></p>
<%= render partial: 'form', locals: {game: @game, review: @review}%>
</body>