<%= render "shared/header"%>
<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクをリクエストされた方がいらっしゃいます。以下のリンクから行うことができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストされていない場合、このメールは無視してください。</p>
<p>パスワードは、上記のリンクにアクセスし、新しいものを作成するまで変更されません。</p>
